In [1]:
import pandas as pd
import bar_chart_race as bcr

In [2]:
df = pd.read_csv(".\MERRA2.avgM_2d_pm25_admin0x.v01.19800101-20221231.csv", encoding="utf8", header=13)
df

,date,Argentina,Bolivia,Brazil,Chile,Colombia,Ecuador,Falkland_Islands,French_Guiana,Guyana,...,Zambia,Zimbabwe,Cape_Verde,Sao_Tomé_and_Principe,Saint_Helena,Mauritius,Madagascar,Comoros,Mayotte,Seychelles
0,1980-01,6.0,2.8,3.8,6.2,4.9,3.8,8.4,6.7,5.1,...,4.0,3.0,14.6,0.0,6.2,9.9,4.0,7.6,0.0,0.0
1,1980-02,5.7,2.4,4.0,5.8,6.5,3.8,8.3,12.2,6.4,...,3.1,2.9,50.8,0.0,5.8,11.7,2.9,1.9,0.0,0.0
2,1980-03,5.4,2.3,3.5,6.3,6.9,3.6,9.4,6.8,5.8,...,2.9,2.9,15.4,0.0,5.4,10.2,3.5,3.3,0.0,0.0
3,1980-04,4.5,2.2,4.0,4.7,7.1,4.1,7.8,11.3,10.4,...,2.5,3.1,16.6,0.0,9.1,5.9,2.6,4.6,0.0,0.0
4,1980-05,3.5,2.9,3.9,4.1,3.8,4.6,7.1,7.1,6.0,...,3.1,3.4,15.4,0.0,7.3,9.1,3.0,6.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,2022-08,7.9,16.8,14.8,6.6,11.0,9.6,10.1,8.1,10.6,...,19.6,11.2,16.5,0.0,9.7,5.8,4.1,5.0,0.0,0.0
512,2022-09,9.0,34.9,20.4,7.0,10.2,12.9,11.1,8.6,10.6,...,24.9,19.6,26.7,0.0,9.0,6.8,5.5,7.1,0.0,0.0
513,2022-10,9.8,12.1,11.9,7.6,6.2,9.7,14.1,8.4,10.1,...,31.2,28.8,36.8,0.0,7.5,5.0,11.0,6.5,0.0,0.0
514,2022-11,10.7,13.5,8.7,7.8,6.2,10.6,12.5,6.2,6.4,...,12.3,9.8,44.3,0.0,7.2,4.0,8.7,7.2,0.0,0.0
515,2022-12,10.1,7.0,7.6,8.0,8.0,9.6,13.2,9.6,7.4,...,5.7,5.8,24.2,0.0,8.2,6.4,5.6,8.8,0.0,0.0

In [3]:
df.dtypes

date           object
Argentina     float64
Bolivia       float64
Brazil        float64
Chile         float64
               ...
Mauritius     float64
Madagascar    float64
Comoros       float64
Mayotte       float64
Seychelles    float64
Length: 231, dtype: object

In [4]:
df['month'] = pd.to_datetime(df['date'])
df

,date,Argentina,Bolivia,Brazil,Chile,Colombia,Ecuador,Falkland_Islands,French_Guiana,Guyana,...,Zimbabwe,Cape_Verde,Sao_Tomé_and_Principe,Saint_Helena,Mauritius,Madagascar,Comoros,Mayotte,Seychelles,month
0,1980-01,6.0,2.8,3.8,6.2,4.9,3.8,8.4,6.7,5.1,...,3.0,14.6,0.0,6.2,9.9,4.0,7.6,0.0,0.0,1980-01-01
1,1980-02,5.7,2.4,4.0,5.8,6.5,3.8,8.3,12.2,6.4,...,2.9,50.8,0.0,5.8,11.7,2.9,1.9,0.0,0.0,1980-02-01
2,1980-03,5.4,2.3,3.5,6.3,6.9,3.6,9.4,6.8,5.8,...,2.9,15.4,0.0,5.4,10.2,3.5,3.3,0.0,0.0,1980-03-01
3,1980-04,4.5,2.2,4.0,4.7,7.1,4.1,7.8,11.3,10.4,...,3.1,16.6,0.0,9.1,5.9,2.6,4.6,0.0,0.0,1980-04-01
4,1980-05,3.5,2.9,3.9,4.1,3.8,4.6,7.1,7.1,6.0,...,3.4,15.4,0.0,7.3,9.1,3.0,6.0,0.0,0.0,1980-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,2022-08,7.9,16.8,14.8,6.6,11.0,9.6,10.1,8.1,10.6,...,11.2,16.5,0.0,9.7,5.8,4.1,5.0,0.0,0.0,2022-08-01
512,2022-09,9.0,34.9,20.4,7.0,10.2,12.9,11.1,8.6,10.6,...,19.6,26.7,0.0,9.0,6.8,5.5,7.1,0.0,0.0,2022-09-01
513,2022-10,9.8,12.1,11.9,7.6,6.2,9.7,14.1,8.4,10.1,...,28.8,36.8,0.0,7.5,5.0,11.0,6.5,0.0,0.0,2022-10-01
514,2022-11,10.7,13.5,8.7,7.8,6.2,10.6,12.5,6.2,6.4,...,9.8,44.3,0.0,7.2,4.0,8.7,7.2,0.0,0.0,2022-11-01
515,2022-12,10.1,7.0,7.6,8.0,8.0,9.6,13.2,9.6,7.4,...,5.8,24.2,0.0,8.2,6.4,5.6,8.8,0.0,0.0,2022-12-01

In [5]:
df_cumulated = df.iloc[:,1:-1].cumsum()
df_cumulated['month'] = df['month']
df_cumulated.set_index('month', inplace=True)
df_cumulated.head()

,Argentina,Bolivia,Brazil,Chile,Colombia,Ecuador,Falkland_Islands,French_Guiana,Guyana,Peru,...,Zambia,Zimbabwe,Cape_Verde,Sao_Tomé_and_Principe,Saint_Helena,Mauritius,Madagascar,Comoros,Mayotte,Seychelles
month,,,,,,,,,,,,,,,,,,,,,
1980-01-01,6.0,2.8,3.8,6.2,4.9,3.8,8.4,6.7,5.1,3.5,...,4.0,3.0,14.6,0.0,6.2,9.9,4.0,7.6,0.0,0.0
1980-02-01,11.7,5.2,7.8,12.0,11.4,7.6,16.7,18.9,11.5,7.3,...,7.1,5.9,65.4,0.0,12.0,21.6,6.9,9.5,0.0,0.0
1980-03-01,17.1,7.5,11.3,18.3,18.3,11.2,26.1,25.7,17.3,10.6,...,10.0,8.8,80.8,0.0,17.4,31.8,10.4,12.8,0.0,0.0
1980-04-01,21.6,9.7,15.3,23.0,25.4,15.3,33.9,37.0,27.7,14.4,...,12.5,11.9,97.4,0.0,26.5,37.7,13.0,17.4,0.0,0.0
1980-05-01,25.1,12.6,19.2,27.1,29.2,19.9,41.0,44.1,33.7,18.1,...,15.6,15.3,112.8,0.0,33.8,46.8,16.0,23.4,0.0,0.0

In [6]:
df_cumulated.columns = [col.replace('_', ' ') for col in df_cumulated.columns]

In [7]:
df_cumulated.dtypes

Argentina     float64
Bolivia       float64
Brazil        float64
Chile         float64
Colombia      float64
               ...
Mauritius     float64
Madagascar    float64
Comoros       float64
Mayotte       float64
Seychelles    float64
Length: 230, dtype: object

In [8]:
country_reserved = set()
for index, row in df_cumulated.iterrows():
    country_reserved |= set(row[row > 0].sort_values(ascending=False).head(10).index)
df_cumulated = df_cumulated[list(country_reserved)]

In [9]:
df_cumulated.shape

(516, 20)

In [10]:
bcr.bar_chart_race(
    df=df_cumulated,
    filename='.\pm25changed.mp4',
    n_bars=10,
    period_fmt='%B %d, %Y',
    title='PM2.5 Cumulated by Country'
)

D:\workspace\NASAinYourNeighborhood\envNASA\lib\site-packages\bar_chart_race\_make_chart.py:889: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_values.iloc[:, 0] = df_values.iloc[:, 0].fillna(method='ffill')
D:\workspace\NASAinYourNeighborhood\envNASA\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_yticklabels(self.df_values.columns)
D:\workspace\NASAinYourNeighborhood\envNASA\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
MovieWriter ffmpeg unavailable; using Pillow instead.

Exception: You do not have ffmpeg installed on your machine. Download
                            ffmpeg from here: https://www.ffmpeg.org/download.html.

                            Matplotlib's original error message below:

                            unknown file extension: .mp4

In [ ]:
!pip install --upgrade matplotlib